<?xml version='1.0' encoding='UTF-8'?>
<operator xmlns="http://wirecloud.conwet.fi.upm.es/ns/macdescription/1" vendor="CoNWeT" name="ngsi-datamodel2poi" version="3.0.5">
  <details>
    <title>FIWARE data model To PoI</title>
    <homepage>https://github.com/wirecloud-fiware/ngsi-datamodel2poi-operator</homepage>
    <authors>aarranz</authors>
    <email>aarranz@conwet.com</email>
    <image>images/catalogue.png</image>
    <description>Convert NGSI entities using any of the available FIWARE data models into Point of Interests (usable by map widgets).</description>
    <longdescription>DESCRIPTION.md</longdescription>
    <license>Apache License 2.0</license>
    <licenseurl>http://www.apache.org/licenses/LICENSE-2.0.html</licenseurl>
    <doc>doc/userguide.md</doc>
    <changelog>doc/changelog.md</changelog>
    <issuetracker>https://github.com/wirecloud-fiware/ngsi-datamodel2poi-operator/issues</issuetracker>
  </details>

  <wiring>
    <outputendpoint name="poiOutput" type="text" label="PoIs" description="Transformed Points of Interests from the received entities" friendcode="poi"/>
    <inputendpoint name="entityInput" type="text" label="Entities" description="Received entities will be transform into PoIs" friendcode="entity"/>
  </wiring>

  <scripts>
    <script src="lib/js/moment-with-locales.min.js"/>
    <script src="js/main.js"/>
  </scripts>

</operator>
